*{
    margin:0;
    padding: 0;
}
header{
    display: flex;
    height: 10vh;
    background-color: mediumvioletred;
    justify-content: space-between;
}
header img{
    width: 20px;
}
header div{
    justify-content: start;
}